# Relative URLs used here taken from a stack overflow answer: https://stackoverflow.com/a/44630028

[submodule "system-items/libuvc"]
	path = system-items/libuvc
	url = ../../libuvc/libuvc.git

[submodule "system-items/magic_enum"]
	path = system-items/magic_enum
	url = ../../Neargye/magic_enum.git
	
[submodule "system-items/YDLidar-SDK"]
	path = system-items/YDLidar-SDK
	url = ../../YDLIDAR/YDLidar-SDK.git
	
[submodule "ros-items/limo_ros2"]
	path = ros-items/limo_ros2
	url = ../../LCAS/limo_ros2.git
	
[submodule "ros-items/teaching"]
	path = ros-items/teaching
	url = ../../LCAS/teaching.git
